* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #333333;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #333333;
}

h4 {
    font-size: 20px;
    color: #333333;
}

h6 {
    font-size: 700;
    line-height: 12px;
    color: #333333;
}

p {
    font-size: 16px;
    color: #333333;
    margin: 15px 0 20px 0;
    font-family: 'Inter', sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #333333;
    background-color: #FBF9FA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

body {
    width: 100%;
}

.color {
    color: #FFD9D9;
    color: #E60012;
    color: #FB8F8D;
    color: #FFFFFF;
    color: #333333;
    color: #FFF5F5;
}

/* home page */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    height: 45px;
}

.logo img {
    width: 100%;
    height: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #E60012;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    color: #E60012;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a i {
    color: #333333;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

#navbar li a i:hover {
    color: #E60012;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

#hero {
    background-image: url("assets/bg-hero2.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
}

.hero-details {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-details h4 {
    font-size: 14px;
    padding-bottom: 15px;
}

.hero-details .hero-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    height: 50px;
}

.hero-main img {
    margin-right: 25px;
    height: 100%;
}

.hero-main h1 {
    color: #E60012;
    font-weight: 900;
}

.hero-details span{
    margin: 20px 0 20px 0;
}

.hero-details button.normal {
    font-weight: bold;
    padding: 14px 80px 14px 80px;
    background-color: #FFFFFF;
    color: #E60012;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.hero-details button.normal:hover {
    color: #FFFFFF;
    background-color: #E60012;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.hero-img {
    animation: animate 3s linear infinite;
    -webkit-animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-11px, 0);
        -webkit-transform: translate(-11px, 0);
        -moz-transform: translate(-11px, 0);
        -ms-transform: translate(-11px, 0);
        -o-transform: translate(-11px, 0);
    }
    50% {
        transform: translate(-0px, -11px);
        -webkit-transform: translate(-0px, -11px);
        -moz-transform: translate(-0px, -11px);
        -ms-transform: translate(-0px, -11px);
        -o-transform: translate(-0px, -11px);
    }
    100% {
        transform: translate(-11px, 0px);
        -webkit-transform: translate(-11px, 0px);
        -moz-transform: translate(-11px, 0px);
        -ms-transform: translate(-11px, 0px);
        -o-transform: translate(-11px, 0px);
    }
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 33.3%;
    text-align: center;
    padding: 25px 15px;
    background-color: transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#feature .fe-box img {
    height: 15%;
    margin-bottom: 25px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#feature .fe-box h4 {
    padding: 8px 8px 8px 8px;
    line-height: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #E60012;
    background-color: #FFFCFC;
    margin-bottom: 25px;
}

#product1 {
    background-color: #FFF5F5;
    text-align: center;
}

#product1 h2 {
    font-weight: 900;
    color: #E60012;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
} 

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 2px solid #333333;
    border-radius: 4px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    position: relative;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-top: 70px;
}

#product1 .pro img {
    margin-top: -100px;
    height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#product1 .pro img:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}

#product1 .pro .des {
    text-align: center;
}

#product1 .pro .des i {
    font-size: 10px;
    color: rgba(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 9px;
    font-size: 13px;
    font-weight: 700;
    color: #333333;
}

#product1 .pro .des h5 {
    padding-bottom: 8px;
    padding-top: 8px;
    color: #333333;
    font-size: 15px;
}

#product1 .pro .button-cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro .button-cart h5 {
    text-align: center;
    padding: 10px 5px;
    width: 65%;
    border: 2px solid #E60012;
    border-radius: 4px;
    color: #333333;
    margin-top: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

#product1 .pro .button-cart h5:hover {
    background-color: #E60012;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

#product1 .pro .button-cart i {
    text-align: center;
    padding: 10px 3px;
    width: 30%;
    border: 2px solid #E60012;
    border-radius: 4px;
    color: #333333;
    margin-top: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

#product1 .pro .button-cart i:hover {
    background-color: #E60012;
    color: #FFFFFF;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .social a {
    font-size: 15px;
    margin: 10px;
}

#contact .social i {
    padding: 10px 10px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#contact .social i:hover {
    background-color: #E60012;
    color: #FFFFFF;
}

#contact .links {
  margin-top: 15px;
  margin-bottom: 20px;
}

#contact .links a {
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
}

#contact .copyright {
    text-align: center;
}

.placeholder {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.textarea{
    height: 150px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid #E60012;
    padding: 0 10px;
}

.container label{
    width: 95%;
    color: black;
    margin: 5px 0;
}

.container input{
    height: 40px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid #E60012;
    padding: 0 10px;
    font-style: italic;
}

.container {
    width: 100%;
    max-width: 650px;
    background-color: #FFF5F5;
    border: 1px solid #E60012;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
}


.option{
    height: 40px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid #E60012;
    color: black;
    padding: 0 10px;
    font-style: italic;
}

.article-about{
    background-image: url("assets/bg-hero2.png");
    padding: 50px;
}

.article-about-container{
    width: 100%;
    max-width: 95%;
    background-color: #FFF5F5;
    border: 1px solid #E60012;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
}

.article-about-container img{
    height: 80px;
    align-items: right;
}

.article-about h1{
    color: #E60012;
    background-color: #FFF5F5;
    padding: 10px;
}

.article-about h3{
    color: #E60012;
    padding: 10px;
    size: 10px;
    font-size: 30px;
}

.article-about h5{
    color: #333333;
    size: 10px;
    font-size: 20px;
    padding: 10px;
}

.article-about h6{
    color: #333333;
    size: 10px;
    font-size: 20px;
    padding: 10px;
}

.article-about p{
    color: #333333;
    padding: 10px;
    size: 10px;
    font-size: 17px;
}

.more button{
    font-weight: bold;
    padding: 14px 80px 14px 80px;
    background-color: #FFFFFF;
    color: #E60012;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}